<!--- Code By FznXSec404 --->
<!--- Mau Ngapain Om? :v --->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
      <title>Welcome To Rest Api Miku</title>
      <!-- General CSS Files -->
      <link rel="stylesheet" href="public/css/app.min.css" />
      <!-- Template CSS -->
      <link rel="stylesheet" href="public/css/style.css" />
      <link rel="stylesheet" href="public/css/components.css" />
      <!-- Custom style CSS -->
      <link rel="stylesheet" href="public/css/custom.css" />
      <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico" />
      <script data-ad-client="ca-pub-9147144556578830" async src="pagead/js/adsbygoogle.js"></script>
   </head>
   <body>
      <div class="loader"></div>
      <div id="app">
         <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
               <div class="form-inline mr-auto">
                  <ul class="navbar-nav mr-3">
                     <li>
                        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a>
                     </li>
                     <li>
                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                           <i data-feather="maximize"></i>
                        </a>
                     </li>
                     <li>
                        <form class="form-inline mr-auto">
                           <div class="search-element">
                              <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200" />
                              <button class="btn" type="submit">
                                 <i class="fas fa-search"></i>
                              </button>
                           </div>
                        </form>
                     </li>
                  </ul>
               </div>
               <ul class="navbar-nav navbar-right">
                  <li class="dropdown dropdown-list-toggle">
                     <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i> <span class="badge headerBadge1"> 2 </span> </a>
                     <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                        <div class="dropdown-header">
                           Messages
                           <div class="float-right">
                              <a href="#">Mark All As Read</a>
                           </div>
                        </div>
                        <div class="dropdown-list-content dropdown-list-message">
                           <a href="#" class="dropdown-item">
                              <span class="dropdown-item-avatar text-white"> <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle" /> </span>
                              <span class="dropdown-item-desc">
                                 <span class="message-user">Fahmi Cog</span>
                                 <span class="time messege-text">Jangan Lupa Subscribe Channels Youtube : Fahmi Cog</span>
                                 <span class="time">2 Min Ago</span>
                              </span>
                           </a>
                           <a href="#" class="dropdown-item">
                              <span class="dropdown-item-avatar text-white">
                                 <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle" />
                              </span>
                              <span class="dropdown-item-desc">
                                 <span class="message-user">Fahmi Cog</span> <span class="time messege-text">Jangan Lupa Mandi..</span>
                                 <span class="time">5 Min Ago</span>
                              </span>
                           </a>
                        </div>
                        <div class="dropdown-footer text-center">
                           <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                        </div>
                     </div>
                  </li>
                  <li class="dropdown dropdown-list-toggle">
                     <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i> </a>
                     <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                        <div class="dropdown-header">
                           Notifications
                           <div class="float-right">
                              <a href="#">Mark All As Read</a>
                           </div>
                        </div>
                        <div class="dropdown-list-content dropdown-list-icons">
                           <a href="#" class="dropdown-item dropdown-item-unread">
                              <span class="dropdown-item-icon bg-primary text-white"> <i class="fas fa-code"></i> </span> <span class="dropdown-item-desc"> Template update is available now! <span class="time">2 Min Ago</span> </span>
                           </a>
                        </div>
                        <div class="dropdown-footer text-center">
                           <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                        </div>
                     </div>
                  </li>
                  <li class="dropdown">
                     <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <img alt="image" src="assets/img/user.png" class="user-img-radious-style" /> <span class="d-sm-none d-lg-inline-block"></span>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right pullDown">
                        <div class="dropdown-title">Welcome Guest</div>
                        <a href="register.html" class="dropdown-item has-icon"> <i class="fas fa-user-plus"></i> Register </a>
                        <a href="login.html" class="dropdown-item has-icon"><i class="fas fa-sign-in-alt"></i> Login</a>
                        <a href="forgetpass.html" class="dropdown-item has-icon"><i class="fas fa-key"></i> Lupa Sandi</a>
                     </div>
                  </li>
               </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
               <aside id="sidebar-wrapper">
                  <div class="sidebar-brand">
                     <a href="index.html"> <img alt="image" src="assets/img/logo.png" class="header-logo" /> <span class="logo-name">Fahmi Api</span> </a>
                  </div>
                  <div class="sidebar-user">
                     <div class="sidebar-user-picture">
                        <img alt="image" src="assets/img/user.png" />
                     </div>
                     <div class="sidebar-user-details">
                        <div class="user-name">Fahmi Cog</div>
                        <div class="user-role">Administrator</div>
                     </div>
                  </div>
                  <ul class="sidebar-menu">
                     <li class="menu-header">Main</li>
                     <li>
                        <a href="dashboard.html" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                     </li>
                     <li>
                        <a href="princing.html" class="nav-link"><i data-feather="shopping-bag"></i><span>Princing</span></a>
                     </li>
                     <li class="menu-header">Menu</li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="italic"></i><span>Ephoto</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="ephoto/pornhub_text_fahmi_text2_cog_apikey_masukan_apikey.html" target="_blank">Pornhub</a></li>
                           <li><a class="nav-link" href="ephoto/blackpink_text_fahmi_apikey_masukan_apikey.html" target="_blank">Blackpink</a></li>
                           <li><a class="nav-link" href="ephoto/fbgplaybtn_text_fahmi_apikey_masukan_apikey.html" target="_blank">Gold Play button</a></li>
                           <li><a class="nav-link" href="ephoto/fbsplaybtn_text_fahmi_apikey_masukan_apikey.html" target="_blank">Silver Play button</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Water</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Shirt Messi</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Shirt Real Madrid</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Bulb Effect</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Sunlight Shadow</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wet Glass</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Ff Logo</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Pubg logo</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Art Text</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Heart Gif</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">3d Metal</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">3d Water</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Grafiti 1</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Grafiti 2</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Grafiti 3</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Gold Text</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Status Mood</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Dragon Fire</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Metal Text</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Metal Star</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">My Love</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Metal Lattering</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="type"></i><span>Textpro</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Lende</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">3d Subzoom</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">3d Subzoom</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Photooxy</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Wanted</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Gta V</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Cool Design</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Burning Fire</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Google Suggest</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Tiktok Effect</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Pubg Banner</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">8 Bit</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Butterfly Effect</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Fur Effect</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Rainbow Shine</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Glowi Rainbow</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Glow Neon Effect</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Graffiti Text</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Flaming Text</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Chrome Text</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Harry Potter</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Metallic Neon</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Woodblock Effect</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Romantic Effect</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Quote Wood Heart</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Flower Heart</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wooden Boards</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">3D Summer</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">3D Nature</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">3D Black</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Underwater Ocean </a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Golden Roses</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Burn Paper</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Text Cup</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Naruto Banner</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Smoke Text</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Funny Cup</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Massage Grass</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Coffie Cup</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Love Massage</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Sky Effect</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="download"></i><span>Downloader</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Joox Play</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Youtube Play</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Youtube Mp3</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Youtube Mp4</a></li>
                           <li><a class="nav-link" href="index.html">Tiktok Post</a></li>
                           <li><a class="nav-link" href="index.html">Tiktok Hashtag</a></li>
                           <li><a class="nav-link" href="index.html">Tiktok Audio</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Tiktok No Wm</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Instagram Post</a></li>
                           <li><a class="nav-link" href="index.html">Intagram Feed</a></li>
                           <li><a class="nav-link" href="index.html">Instagram Hashtag</a></li>
                           <li><a class="nav-link" href="index.html">Instagram Tv</a></li>
                           <li><a class="nav-link" href="index.html">Instagram Story</a></li>
                           <li><a class="nav-link" href="index.html">Facebook Post</a></li>
                           <li><a class="nav-link" href="index.html">Twitter Post</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="search"></i><span>Search</span></a>
                        <ul class="dropdown-menu">
                       	<li><a class="nav-link" href="index.html" target="_blank">Spotify</a></li>
                       	<li><a class="nav-link" href="index.html" target="_blank">Joox</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Youtube</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Google Image</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Film Apik</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Film Apik v2</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Film Apik Latest</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Lk21</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Lk21 v2</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Lk21 Latest</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Brainly</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wallpaper Hd</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Resep Makanan</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Hero Ml</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Cuaca</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Get Stiker</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Chord Lagu</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Lirik Lagu</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Pinterest</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Rexdl</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Playstore</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Apk Pure</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">GSM Arena</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wattpad</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="droplet"></i><span>NSFW</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Xnxx Downloader</a></li>
                       	<li><a class="nav-link" href="index.html" target="_blank">Xnxx Search</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Xvideos Downloader</a></li>
                       	<li><a class="nav-link" href="index.html" target="_blank">Xvideos Search</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Nhentai Downloader</a></li>
                       	<li><a class="nav-link" href="index.html" target="_blank">Nhentai Search</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Nekopi Downloader</a></li>
                       	<li><a class="nav-link" href="index.html" target="_blank">Nekopoi Search</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Girl Solo Gif</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Pussy Wank Gif</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Hentai Gif</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Neko Gif</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Neko</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Pussy</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Lesbian</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Kuni</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Classic</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Boobs</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Anal</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Avatar</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Yuri</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Trap</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Tits</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Kemonomimi</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Kitsune</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Holoero</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Hentai</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Futanari</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Femdom</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Feetgif</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Ero</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">BlowJob</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Spank</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Gasm</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>Media</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Spotify New</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Emoji To Png</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Cari Bioskop</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Trending Twitter</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Cineplex Comingsoon</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Jadwal Tv</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Jadwal Tv Now</a></li> 
                           <li><a class="nav-link" href="index.html" target="_blank">Fuck My Live</a></li>
						   <li><a class="nav-link" href="index.html" target="_blank">Nulis Buku</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wikipedia</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">KBBI</a></li>
                       	<li><a class="nav-link" href="index.html" target="_blank">Film Indo Trending</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Info Loker</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Cerpen</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Cersex</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Berita Terbaru</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Info Hoax</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Mata Uang</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wp Teknologi</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wp Programming</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wp CyberSpace</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wp Muslim</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Wp Mountain View</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="umbrella"></i><span>Islamic</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Hadits Shahih</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Al Qur'an</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Asmaul Husna</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Jadwal Shalat</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Bacaan Shalat</a></li>
                           <li><a class="nav-link" href="index.html">Niat Shalat</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Kisah Nabi</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Ayat Kursi</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Doa Harian</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Doa Tahlil</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Doa Wirid</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>Fun</span></a>
                        <ul class="dropdown-menu">
                        	<li><a class="nav-link" href="index.html" target="_blank">Family100</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Nomer Hoki</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Cak Lontong</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Tebak Gambar</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Kata Hilih</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Simi</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="zoom-in"></i><span>Stalk</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Spotify</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Intagram</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Tiktok</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Twitter</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Smule</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Github</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="anchor"></i><span>Primbon</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Arti Nama</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Arti Mimpi</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Ramalan Jodoh</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Tanggal Jadian</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="compass"></i><span>News</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Detik</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Sindo News</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Liputan 6</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Tribunnews</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="disc"></i><span>Anime</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Neonime</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Jurnal Otaku</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Samehadaku</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Dewabatch</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Kusonime</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Manga</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">My Animelist</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="sliders"></i><span>Random</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html">Loli</a></li>
                           <li><a class="nav-link" href="index.html">Shota</a></li>
                           <li><a class="nav-link" href="index.html">Husbu</a></li>
                           <li><a class="nav-link" href="index.html">Waifu</a></li>
                           <li><a class="nav-link" href="index.html">Asmaul Husna</a></li>
                           <li><a class="nav-link" href="index.html">Quotes</a></li>
                           <li><a class="nav-link" href="index.html">Quotes Islami</a></li>
                           <li><a class="nav-link" href="index.html">Quotes Kanye</a></li>
                           <li><a class="nav-link" href="index.html">Meme</a></li>
                           <li><a class="nav-link" href="index.html">Wallpaper</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="cloud-snow"></i><span>BMKG</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Info Gempa</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Info Cuaca</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Covid Indo</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Covid World</a></li>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="flag"></i><span>Other</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="nav-link" href="index.html" target="_blank">Tinyurl</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Text To Img</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Base Encode</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Base Decode</a></li>
                           <li><a class="nav-link" href="index.html" target="_blank">Tinyurl</a></li>
                        </ul>
                     </li>
                     <li class="menu-header">My Project</li>
                     <li>
                        <a href="https://paypal.me/fahmicog" class="nav-link"><i data-feather="heart"></i><span>Donasi</span></a>
                     </li>
                     <li>
                        <a href="https://wa.me/6281331954563" class="nav-link"><i data-feather="star"></i><span>Bot Whatsapp</span></a>
                     </li>
                     <li class="menu-header">About</li>
                     <li>
                        <a href="https://youtube.com/channel/UCKnzdl1cYOqTnmKvDjvRaOA" class="nav-link"><i data-feather="youtube"></i><span>Youtube</span></a>
                     </li>
                     <li>
                        <a href="https://www.instagram.com/fahmicog" class="nav-link"><i data-feather="instagram"></i><span>Instagram</span></a>
                     </li>
                     <li>
                        <a href="https://github.com/fahmicog" class="nav-link"><i data-feather="github"></i><span>Github</span></a>
                     </li>
                  </ul>
               </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <ul class="breadcrumb breadcrumb-style">
                     <li class="breadcrumb-item">
                        <h4 class="page-title m-b-0">Dashboard</h4>
                     </li>
                     <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fas fa-home"></i></a>
                     </li>
                     <li class="breadcrumb-item active">Dashboard</li>
                  </ul>
                  <div class="row">
                     <div class="col-lg-3 col-sm-6">
                        <div class="card">
                           <div class="card-statistic-4">
                              <div class="info-box7-block">
                                 <h6 class="m-b-20 text-right">Total Request</h6>
                                 <h4 class="text-right"><i class="fas fa-chart-line pull-left bg-indigo c-icon"></i><span id="visit">0</span></h4>
                                 <p class="mb-0 mt-3 text-muted">Jumlah semua request</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <div class="card">
                           <div class="card-statistic-4">
                              <div class="info-box7-block">
                                 <h6 class="m-b-20 text-right">IP KAMU</h6>
                                 <h4 class="text-right"><i class="fas fa-wifi pull-left bg-orange c-icon"></i><span>23.236.148.77</span></h4>
                                 <p class="mb-0 mt-3 text-muted">ALAMAT IP KAMU</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <div class="card">
                           <div class="card-statistic-4">
                              <div class="info-box7-block">
                                 <h6 class="m-b-20 text-right">User Terdaftar</h6>
                                 <h4 class="text-right"><i class="fas fa-users pull-left bg-cyan c-icon"></i><span>47</span></h4>
                                 <p class="mb-0 mt-3 text-muted">Total user terdaftar</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <div class="card">
                           <div class="card-statistic-4">
                              <div class="info-box7-block">
                                 <h6 class="m-b-20 text-right">Time Now</h6>
                                 <h4 class="text-right"><i class="far fa-clock pull-left bg-green c-icon"></i><span id="browser_info">00.00</span></h4>
                                 <p class="mb-0 mt-3 text-muted"><span id="browser_sholat"></span></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
<div class="row">
   <script async src="pagead/js/adsbygoogle.js"></script>
   <ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-9147144556578830" data-ad-slot="5382084382" data-ad-format="auto" data-full-width-responsive="true"></ins>
   <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
   </script>
</div>
                  <div class="row">
                     <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card card-info">
                           <div class="card-header">
                              <h4>Syarat & Ketentuan</h4>
                              <div class="card-header-action">
                                 <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                              </div>
                           </div>
                           <div class="collapse show" id="mycard-collapse">
                              <div class="card-body">
                                 <ol>
                                    <li>Jangan melakukan banyak request dalam beberapa detik itu akan membuat error apikey mu.</li>
                                    <li>Membuat banyak akun dengan <b>IP</b> yang sama maka <b>IP</b> otomatis akan terblokir.</li>
                                    <li>Admin dapat sewaktu waktu mengubah ketentuan di website ini, demi menjaga kualitas website.</li>
                                    <li>Segera lapor apabila ada menu yang tidak berfungsi dengan baik!.</li>
                                    <li>Admin tidak bertanggung jawab atas apa yang Anda lakukan dalam penggunaan website ini.</li>
                                    <li>Jika ingin request menu atau berdonasi kalian bisa langsung hubungi kami.</li>
                                 </ol>
                              </div>
                              <div class="card-footer">
                                 Fahmi Hdytllah.
                              </div>
                           </div>
                        </div>
                     </div>
<div class="row">
   <script async src="pagead/js/adsbygoogle.js"></script>
   <ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-9147144556578830" data-ad-slot="5382084382" data-ad-format="auto" data-full-width-responsive="true"></ins>
   <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
   </script>
</div>
                     <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                           <div class="card-header">
                              <h4>Baca Dulu Ngapa</h4>
                           </div>
                           <div class="card-body">
                              <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                                 <li class="media">
                                    <img alt="image" class="mr-3 rounded-circle" width="70" src="assets/img/users/user-1.png" />
                                    <div class="media-body">
                                       <div class="media-title mb-1">Fahmi Cog</div>
                                       <div class="text-time">Yesterday</div>
                                       <div class="media-description text-muted">Website Ini masih dalam pengembangan jadi wajar jika masih ada banyak bug atau error.</div>
                                    </div>
                                 </li>
                                 <li class="media">
                                    <img alt="image" class="mr-3 rounded-circle" width="70" src="assets/img/users/user-1.png" />
                                    <div class="media-body">
                                       <div class="media-title mb-1">Fahmi Cog</div>
                                       <div class="text-time">Yesterday</div>
                                       <div class="media-description text-muted">Untuk Mendapatkan Apikey anda bisa melakukan Register lalu login untuk melihat apikey.</div>
                                    </div>
                                 </li>
                                 <li class="media">
                                    <img alt="image" class="mr-3 rounded-circle" width="70" src="assets/img/users/user-1.png" />
                                    <div class="media-body">
                                       <div class="media-title mb-1">Hasan Basri</div>
                                       <div class="text-time">Yesterday</div>
                                       <div class="media-description text-muted">
                                          Untuk kalian yang ingin mengakses apikey secara leluasa dan bisa di jual kembali agan bisa upgrade ke <b><i>User Premium dan bisa meng akses semua fitur.</i></b>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
<div class="row">
   <script async src="pagead/js/adsbygoogle.js"></script>
   <ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-9147144556578830" data-ad-slot="5382084382" data-ad-format="auto" data-full-width-responsive="true"></ins>
   <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
   </script>
</div>
                     <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                           <div class="card-header">
                              <h4>Activity</h4>
                           </div>
                           <div class="card-body">
                              <div id="activity-scroll">
                                 <ul class="activity-list">
                                    <li>
                                       <i class="activity-icon bg-success"></i>
                                       <h6>Add Menu Downloader<small class="float-right text-muted">08 Maret 2021</small></h6>
                                       <span class="font-12">Author : Fahmi Cog</span>
                                    </li>
                                    <li>
                                       <i class="activity-icon bg-info"></i>
                                       <h6>Add Menu Islamic<small class="float-right text-muted tx-11">08 Maret 2021</small></h6>
                                       <span class="font-12">Author : Fahmi Cog</span>
                                    </li>
                                    <li>
                                       <i class="activity-icon bg-red"></i>
                                       <h6>Add Menu Text Maker<small class="float-right text-muted tx-11">07 Maret 2021</small></h6>
                                       <span class="font-12">Author : Fahmi Cog</span>
                                    </li>
                                    <li>
                                       <i class="activity-icon bg-primary"></i>
                                       <h6>Add Menu Funn<small class="float-right text-muted tx-11">07 Maret 2021</small></h6>
                                       <span class="font-12">Author : Fahmi Cog</span>
                                    </li>
                                    <li>
                                       <i class="activity-icon bg-orange"></i>
                                       <h6>Add Menu Random<small class="float-right text-muted tx-11">06 Maret 2021</small></h6>
                                       <span class="font-12">Author : Fahmi Cog</span>
                                    </li>
                                    <li>
                                       <i class="activity-icon bg-green"></i>
                                       <h6>Add Menu Search<small class="float-right text-muted tx-11">06 Maret 2021</small></h6>
                                       <span class="font-12">Author : Fahmi Cog</span>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
<div class="row">
   <script async src="pagead/js/adsbygoogle.js"></script>
   <ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-9147144556578830" data-ad-slot="5382084382" data-ad-format="auto" data-full-width-responsive="true"></ins>
   <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
   </script>
</div>
                  </div>
               </section>
               <div class="settingSidebar">
                  <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i> </a>
                  <div class="settingSidebar-body ps-container ps-theme-default">
                     <div class="fade show active">
                        <div class="setting-panel-header">Setting Panel</div>
                        <div class="p-15 border-bottom">
                           <h6 class="font-medium m-b-10">Select Layout</h6>
                           <div class="selectgroup layout-color w-50">
                              <label class="selectgroup-item">
                                 <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked />
                                 <span class="selectgroup-button">Light</span>
                              </label>
                              <label class="selectgroup-item">
                                 <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout" />
                                 <span class="selectgroup-button">Dark</span>
                              </label>
                           </div>
                        </div>
                        <div class="p-15 border-bottom">
                           <h6 class="font-medium m-b-10">Sidebar Color</h6>
                           <div class="selectgroup selectgroup-pills sidebar-color">
                              <label class="selectgroup-item">
                                 <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar" />
                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                              </label>
                              <label class="selectgroup-item">
                                 <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked />
                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                              </label>
                           </div>
                        </div>
                        <div class="p-15 border-bottom">
                           <h6 class="font-medium m-b-10">Color Theme</h6>
                           <div class="theme-setting-options">
                              <ul class="choose-theme list-unstyled mb-0">
                                 <li title="white" class="active">
                                    <div class="white"></div>
                                 </li>
                                 <li title="cyan">
                                    <div class="cyan"></div>
                                 </li>
                                 <li title="black">
                                    <div class="black"></div>
                                 </li>
                                 <li title="purple">
                                    <div class="purple"></div>
                                 </li>
                                 <li title="orange">
                                    <div class="orange"></div>
                                 </li>
                                 <li title="green">
                                    <div class="green"></div>
                                 </li>
                                 <li title="red">
                                    <div class="red"></div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="p-15 border-bottom">
                           <div class="theme-setting-options">
                              <label class="m-b-0">
                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="mini_sidebar_setting" />
                                 <span class="custom-switch-indicator"></span>
                                 <span class="control-label p-l-10">Mini Sidebar</span>
                              </label>
                           </div>
                        </div>
                        <div class="p-15 border-bottom">
                           <div class="theme-setting-options">
                              <label class="m-b-0">
                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="sticky_header_setting" />
                                 <span class="custom-switch-indicator"></span>
                                 <span class="control-label p-l-10">Sticky Header</span>
                              </label>
                           </div>
                        </div>
                        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                           <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme"> <i class="fas fa-undo"></i> Restore Default </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <footer class="main-footer">
               <div class="footer-left">
                  Copyright &copy; 2021
                  <div class="bullet"></div>
                  Design By <a href="https://www.fahmicog.site">Fahmi Cog</a>
               </div>
               <div class="footer-right"></div>
            </footer>
         </div>
      </div>
      <!-- General JS Scripts -->
      <script src="public/js/app.min.js"></script>
      <!-- Template JS File -->
      <script src="public/js/scripts.js"></script>
      <script src="public/js/ojan.js"></script>
      <!-- Custom JS File -->
      <script src="public/js/custom.js"></script>
   <center><font size="2">This is the free demo result. For a full version of this website, please go to  <a href="https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/">Website Downloader</a></font></center></body>
</html>