<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://i.ibb.co/NFDbMyv/yuda.jpg" rel="icon">
  <title>Angga - Rest API</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">
  <script>
      alert(`Selamat Datang Di Angga Rest API!`)
    </script>
  <script>
      alert(`Request, Ada Bug, Apikey :

Chat Me On WhatsApp :)
wa.me/6285283427860`)
    </script>
   <script>
     alert(`Changelog :

• Add 15+ Features!
• Add Tools Menu!
• Update Template!`)
    </script>
  <script>
window['CboxReady'] = function (Cbox) {
	Cbox('button', '6-852538-vNvLf8');
}
</script>
<script src="https://static.cbox.ws/embed/1.js" async></script>
</head>

<body id="page-top" onload="getvisitor();">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
        	<img src="https://i.ibb.co/NFDbMyv/yuda.jpg">
        </div>
        <div class="sidebar-brand-text mx-3">Angga API</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-code"></i>
          <span>Documentation</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        List Menu
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-fw fa-arrow-down"></i>
          <span>Sosmed Menu</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Sosmed Menu</h6>
            <a class="collapse-item" href="api/yutub/video?url=URL&apikey=APIKEY">YouTube Video Downloader</a>
            <a class="collapse-item" href="api/yutub/audio?url=URL&apikey=APIKEY">YouTube Audio Downloader</a>
            <a class="collapse-item" href="api/fbdown/?url=URL&apikey=APIKEY">Facebook Downloader</a>
            <a class="collapse-item" href="api/tiktod/?url=URL&apikey=APIKEY">Tiktok Downloader</a>
            <a class="collapse-item" href="api/tiktod/stalk/?username=rendycraft047&apikey=APIKEY">Tiktok Stalk</a>
            <a class="collapse-item" href="api/ig/stalk?username=rendycraft047&apikey=APIKEY">Instagram Stalk</a>
            <a class="collapse-item" href="api/yutub/search?video=Ustadz Abdul Somad&apikey=APIKEY">YouTube Search</a>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true"
          aria-controls="collapseIslamic">
          <i class="fas fa-fw fa-table"></i>
          <span>Islamic Menu</span>
        </a>
        <div id="collapseIslamic" class="collapse" aria-labelledby="headingIslamic" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Islamic  Menu</h6>
            <a class="collapse-item" href="api/hadits?kitab=bukhari&nomor=52&apikey=APIKEY">Hadits Shahih</a>
            <a class="collapse-item" href="api/quran?surah=1&ayat=2&apikey=APIKEY">Al Qur'an</a>
            <a class="collapse-item" href="api/muslim/tahlil?apikey=APIKEY">Doa Tahlil</a>
            <a class="collapse-item" href="api/muslim/wirid?apikey=APIKEY">Doa Wirid</a>
            <a class="collapse-item" href="api/muslim/asmaulhusna?apikey=APIKEY">Asmaul Husna</a>
            <a class="collapse-item" href="api/muslim/doaharian?apikey=APIKEY">Doa Harian</a>
            <a class="collapse-item" href="api/muslim/ayatkursi?apikey=APIKEY">Ayat Kursi</a>
            <a class="collapse-item" href="api/kisahnabi?nabi=muhammad&apikey=APIKEY">Kisah Nabi</a>
            <a class="collapse-item" href="api/muslim/niatshalat?apikey=APIKEY">Niat Shalat</a>
            <a class="collapse-item" href="api/muslim/bacaanshalat?apikey=APIKEY">Bacaan Shalat</a>
            <a class="collapse-item" href="api/jadwalshalat?kota=jakartautara&apikey=APIKEY">Jadwal Shalat</a>
          </div>
        </div>
      </li>
       <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFun" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-laugh-beam"></i>
                    <span>Fun Menu</span>
                </a>
                <div id="collapseFun" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Fun Menu</h6>
	        <a class="collapse-item" href="/api/simsimi?kata=halo&apikey=APIKEY">Simsimi</a>
	        <a class="collapse-item" href="/api/spamcall?nomor=85812345678&apikey=APIKEY">Spam Call</a>
	        <a class="collapse-item" href="/api/spamsms?nomor=085812345678&jumlah=5&apikey=APIKEY">Spam Sms</a>
	        <a class="collapse-item" href="/api/reverse?text=Kok%20hurufnya%20bisa%20kebalik%20kek%20gini%20yaa&apikey=APIKEY">Text Reverse</a>
	        <a class="collapse-item" href="api/say?apikey=APIKEY&text=Rendy%20kok%20Ganteng%20yahh">Say</a>
	        <a class="collapse-item" href="/api/dadu?apikey=APIKEY">Dadu</a>
            <a class="collapse-item" href="/api/kuis/caklontong?apikey=APIKEY">Cak Lontong</a>
            <a class="collapse-item" href="/api/kuis/tebakgambar?apikey=APIKEY">Tebak Gambar</a>
            </div>
            </div>
        </li>
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKodepos" aria-expanded="true"
          aria-controls="collapseKodepos">
          <i class="fas fa-fw fa-search"></i>
          <span>Images Menu</span>
        </a>
        <div id="collapseKodepos" class="collapse" aria-labelledby="headingKodepos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Images Menu</h6>
            <a class="collapse-item" href="api/googleimage?q=anjing&apikey=APIKEY">Google Image</a>
            <a class="collapse-item" href="api/pinterest?q=anjing&apikey=APIKEY">Pinterest Image</a>
            <a class="collapse-item" href="api/wallpaper/teknologi?apikey=APIKEY">Wallpaper Teknologi</a>
            <a class="collapse-item" href="api/wallpaper/programming?apikey=APIKEY">Wallpaper Programming</a>
            <a class="collapse-item" href="api/wallpaper/cyberspace?apikey=APIKEY">Wallpaper CyberSpace</a>
            <a class="collapse-item" href="api/wallpaper/muslim?apikey=APIKEY">Wallpaper Muslim</a>
            <a class="collapse-item" href="api/wallpaper/pegunungan?apikey=APIKEY">Wallpaper Mountain View</a>
            </div>
            </div>
            </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGithub"
          aria-expanded="true" aria-controls="collapseGithub">
          <i class="fas fa-fw fa-book"></i>
          <span>Random Menu</span>
        </a>
        <div id="collapseGithub" class="collapse" aria-labelledby="headingGithub" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random Menu</h6>
            <a class="collapse-item" href="api/randomquote?apikey=APIKEY">Quotes</a>
            <a class="collapse-item" href="api/randomquote/muslim?apikey=APIKEY">Quotes Islami</a>
            <a class="collapse-item" href="api/quotes/kanye?apikey=APIKEY">Quotes Kanye</a>
            <a class="collapse-item" href="api/random/asmaulhusna?apikey=APIKEY">Asmaul Husna</a>
            <a class="collapse-item" href="api/random/meme?apikey=APIKEY">Meme</a>
            <a class="collapse-item" href="api/random/wallpaper?apikey=APIKEY">Wallpaper</a>
	    <a class="collapse-item" href="api/pussy?apikey=APIKEY">Pussy</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker"
          aria-expanded="true" aria-controls="collapseMaker">
          <i class="fa fa-fw fa-images"></i>
          <span>TextMaker Menu</span>
        </a>
        <div id="collapseMaker" class="collapse" aria-labelledby="headingMaker" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">TextMaker Menu</h6>
            <a class="collapse-item" href="api/maker?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 1</a>
            <a class="collapse-item" href="api/maker2?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 2</a>
            <a class="collapse-item" href="api/maker3?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 3</a>
            <a class="collapse-item" href="api/maker4?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 4</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker2"
          aria-expanded="true" aria-controls="collapseMaker2">
          <i class="fa fa-fw fa-images"></i>
          <span>TextMaker2 Menu</span>
        </a>
        <div id="collapseMaker2" class="collapse" aria-labelledby="headingMaker2" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">TextMaker2 Menu</h6>
            <a class="collapse-item" href="api/maker3d?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 1</a>
            <a class="collapse-item" href="api/maker3d/no2?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 2</a>
            <a class="collapse-item" href="api/maker3d/no3?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 3</a>
            <a class="collapse-item" href="api/maker3d/no4?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 4</a>
            <a class="collapse-item" href="api/maker3d/no5?text=Ya Allah Kabulkan DoaKu&apikey=APIKEY">Maker 5</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMakerOther"
          aria-expanded="true" aria-controls="collapseMakerOther">
          <i class="fa fa-fw fa-images"></i>
          <span>TextMaker3 Menu</span>
        </a>
        <div id="collapseMakerOther" class="collapse" aria-labelledby="headingMakerOther" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">TextMaker3 Menu</h6>
            <a class="collapse-item" href="api/maker/special/transformer?text=Transformer&apikey=APIKEY">Transformer</a>
            <a class="collapse-item" href="api/maker/special/epep?text=RendyGans&apikey=APIKEY">Sertifikat Epep</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseText" aria-expanded="true"
          aria-controls="collapseText">
          <i class="fas fa-camera"></i>
          <span>Photooxy Menu</span>
        </a>
        <div id="collapseText" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Photooxy Menu</h6>
            <a class="collapse-item" href="api/textmaker?text=halo&text2=hai&theme=glitch&apikey=APIKEY">Glitch</a>
            <a class="collapse-item" href="api/textmaker?text=halo&text2=hai&text3=gwganteng&theme=google-suggestion&apikey=APIKEY">Google Suggestion</a>
            <a class="collapse-item" href="api/textmaker/game?text=halo&text2=hai&theme=pubg&apikey=APIKEY">PUBG</a>
            <a class="collapse-item" href="api/textmaker/game?text=halo&text2=hai&theme=battlefield&apikey=APIKEY">BattleField</a>
            <a class="collapse-item" href="api/textmaker/senja?text=RendyGans&theme=coffee-cup&apikey=APIKEY">Coffee Cup</a>
            <a class="collapse-item" href="api/textmaker/senja?text=RendyGans&theme=coffee-cup2&apikey=APIKEY">Coffee Cup 2</a>
            <a class="collapse-item" href="api/textmaker/metallic?text=RendyGans&theme=neon&apikey=APIKEY">Neon</a>
            <a class="collapse-item" href="api/textmaker/metallic?text=RendyGans&theme=glow&apikey=APIKEY">Glow</a>
            <a class="collapse-item" href="api/textmaker/alam?text=RendyGans&theme=summer&apikey=APIKEY">Summer</a>
            <a class="collapse-item" href="api/textmaker/alam?text=RendyGans&theme=flower&apikey=APIKEY">Flower</a>
            <a class="collapse-item" href="api/textmaker/random?text=RendyGans&theme=text-burn&apikey=APIKEY">Text Burn</a>
            <a class="collapse-item" href="api/textmaker/random?text=RendyGans&theme=art-quote&apikey=APIKEY">Art Quote</a>
            <a class="collapse-item" href="api/textmaker/roses?text=RendyGans&theme=wooden-boarch&apikey=APIKEY">Wooden Boarch</a>
            <a class="collapse-item" href="api/textmaker/roses?text=RendyGans&theme=golden&apikey=APIKEY">Golden Roses</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true"
          aria-controls="collapseAnime">
          <i class="fas fa-cat"></i>
          <span>Anime/Manga Menu</span>
        </a>
        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Anime/Manga Menu</h6>
            <a class="collapse-item" href="api/anime/kusonime?search=planetarian&apikey=APIKEY">Kusonime</a>
            <a class="collapse-item" href="api/manga?search=kimetsu no yaiba&apikey=APIKEY">Manga</a>
          </div>
        </div>
      </li>
        <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFilmApik" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fas fa-film"></i>
                    <span>Film Apik Menu</span>
                </a>
                <div id="collapseFilmApik" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Film Apik Menu</h6>
	    <a class="collapse-item" href="/api/jadwal-bioskop?apikey=APIKEY">Jadwal Bioskop</a>
            <a class="collapse-item" href="/api/filmapik/search?film=avenger&apikey=APIKEY">Cari Film</a>
            <a class="collapse-item" href="/api/filmapik/kategori?film=action&apikey=APIKEY">Cari Kategori Film</a>
            <a class="collapse-item" href="/api/filmapik/terbaru?apikey=APIKEY">Film Terbaru</a>
            <a class="collapse-item" href="/api/filmapik/play?id=142455&apikey=APIKEY">Play Film</a>
            </div>
            </div>
        </li>
        <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLk21" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fas fa-fw fa-leaf"></i>
                    <span>LK21 Menu</span>
                </a>
                <div id="collapseLk21" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">LK21 Menu</h6>
            <a class="collapse-item" href="/api/lk21/search?film=avenger&apikey=APIKEY">Cari Film</a>
            <a class="collapse-item" href="/api/lk21/terbaru?apikey=APIKEY">Film Terbaru</a>
            <a class="collapse-item" href="/api/lk21/comingsoon?apikey=APIKEY">Film Yg Akan Datang</a>
            <a class="collapse-item" href="/api/lk21/tvseries?apikey=APIKEY">Series TV</a>
            <a class="collapse-item" href="/api/lk21/year?tahun=2021&apikey=APIKEY">Berdasarkan Tahun</a>
            <a class="collapse-item" href="/api/lk21/country?negara=indonesia&apikey=APIKEY">Berdasarkan Negara</a>
            <a class="collapse-item" href="/api/lk21/genr?tipe=action&apikey=APIKEY">Berdasarkan Genre</a>
            </div>
            </div>
        </li>
        <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNews" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fas fa-fw fa-exclamation"></i>
                    <span>News Menu</span>
                </a>
                <div id="collapseNews" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">News Menu</h6>
            <a class="collapse-item" href="api/news">Jenis Berita</a>
	    <a class="collapse-item" href="api/infogempa?apikey=APIKEY">Info Gempa Terkini</a>
            <a class="collapse-item" href="api/infocuaca?provinsi=jakarta&apikey=APIKEY">Info Cuaca Indonesia</a>
            <a class="collapse-item" href="api/infocuaca/dunia?apikey=APIKEY">Info Cuaca Dunia</a>
            <a class="collapse-item" href="api/infocuaca/bandara?apikey=APIKEY">Info Cuaca Bandara</a>
            <a class="collapse-item" href="api/infotsunami?apikey=APIKEY">Info Tsunami</a>
            <a class="collapse-item" href="api/covidindo?apikey=APIKEY">Covid Indo</a>
            <a class="collapse-item" href="api/covidworld?apikey=APIKEY">Covid World</a>
            <a class="collapse-item" href="api/news/cnn?type=JENIS_BERITA&apikey=APIKEY">Cnn News</a>
            <a class="collapse-item" href="api/news/cnbc?type=JENIS_BERITA&apikey=APIKEY">CnBc News</a>
            <a class="collapse-item" href="api/news/republika?type=JENIS_BERITA&apikey=APIKEY">Republika News</a>
            <a class="collapse-item" href="api/news/tempo?type=JENIS_BERITA&apikey=APIKEY">Tempo News</a>
            <a class="collapse-item" href="api/news/antara?type=JENIS_BERITA&apikey=APIKEY">Antara News</a>
            <a class="collapse-item" href="api/news/kumparan?type=JENIS_BERITA&apikey=APIKEY">Kumparan News</a>
            </div>
            </div>
        </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEN" aria-expanded="true"
          aria-controls="collapseEN">
          <i class="fa fa-lock"></i>
          <span>Encrypt Menu</span>
        </a>
        <div id="collapseEN" class="collapse" aria-labelledby="headingEN" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Encrypt Menu</h6>
            <a class="collapse-item" href="api/tobase64?apikey=APIKEY&img=https://i.ibb.co/frhZmyZ/pp.jpg">Media To Base64</a>
            <a class="collapse-item" href="api/tomedia?apikey=APIKEY&img=Masukan_Teks_Base64">Base64 To Media</a>
	        <a class="collapse-item" href="api/binary?apikey=APIKEY&encode=RendyGans">Binary Encode</a>
            <a class="collapse-item" href="api/binary?apikey=APIKEY&decode=011100100110010101101110011001000111100101100111011000010110111001110011">Binary Decode</a>
            <a class="collapse-item" href="api/base?apikey=APIKEY&type=base64&encode=RendyKece">Base64 Encode</a>
            <a class="collapse-item" href="api/base?apikey=APIKEY&type=base64&decode=SW5pQWRhbGFoQXBpa2V5UkMwNDc=">Base64 Decode</a>
	        <a class="collapse-item" href="api/base?apikey=APIKEY&type=base32&encode=RendyKece">Base32 Encode</a>
	        <a class="collapse-item" href="api/base?apikey=APIKEY&type=base32&decode=SW5pQWRhbGFoQXBpa2V5UkMwNDc=">Base32 Decode</a>
	        <a class="collapse-item" href="api/md5?apikey=APIKEY&text=RendyKece">MD5</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetool" aria-expanded="true"
          aria-controls="collapsetool">
          <i class="fas fa-wrench"></i>
          <span>Tools Menu</span>
        </a>
        <div id="collapsetool" class="collapse" aria-labelledby="headingtool" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tools Menu</h6>
            <a class="collapse-item" href="api/repeat?text=halo%20&jumlah=1000&apikey=APIKEY">Text Repeater</a>
	        <a class="collapse-item" href="api/nulis?text=RendyGanteng&apikey=APIKEY">Nulis Buku</a>
            <a class="collapse-item" href="api/nulis2?text=RendyGanteng&apikey=APIKEY">Nulis Buku 2</a>
	        <a class="collapse-item" href="api/short/tiny?url=https://kuhong-api.herokuapp.com&apikey=APIKEY">Short Link</a>
	        <a class="collapse-item" href="api/liriklagu?lagu=sayang&apikey=APIKEY">Lirik Lagu</a>
            <a class="collapse-item" href="api/chordlagu?lagu=sayang&apikey=APIKEY">Chord Lagu</a>
            <a class="collapse-item" href="api/kodepos?kota=jakarta&apikey=APIKEY">Kode Pos</a>
            <a class="collapse-item" href="api/translate?kata=hi&apikey=APIKEY">Translate</a>
	        <a class="collapse-item" href="api/tomp4?url=https://mathiasbynens.be/demo/animated-webp-supported.webp&apikey=APIKEY">Web To MP4</a>
	        <a class="collapse-item" href="api/ocr?apikey=APIKEY&img=https://i.ibb.co/rZHMCTS/testing.jpg">OCR</a>
	        <a class="collapse-item" href="api/removebg?apikey=APIKEY&img=https://i.ibb.co/frhZmyZ/pp.jpg">Remove BG</a>
	   </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseother" aria-expanded="true"
          aria-controls="collapseother">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Others Menu</span>
        </a>
        <div id="collapseother" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Others Menu</h6>
            <a class="collapse-item" href="api/ttp?text=Keren%20Anjay&apikey=APIKEY">TTP</a>
            <a class="collapse-item" href="api/tahta?text=mantan&apikey=APIKEY">Harta Tahta</a>
            <a class="collapse-item" href="api/infonpm?query=axios&hostname=axios&apikey=APIKEY">Info NPM</a>
            <a class="collapse-item" href="api/wikipedia?search=jembatan&apikey=APIKEY">Wikipedia</a>
            <a class="collapse-item" href="api/drakorasia?search=tale&apikey=APIKEY">Drakor Asia</a>
            <a class="collapse-item" href="api/fakedata?country=en&apikey=APIKEY">Fake Data</a>
            <a class="collapse-item" href="api/hilih?kata=aku kan ganteng banget&apikey=APIKEY">Kata Hilih</a>
            <a class="collapse-item" href="api/kbbi?kata=pohon&apikey=APIKEY">KBBI</a>
            <a class="collapse-item" href="api/gabut?apikey=APIKEY">Gabut</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
<div class="version"><b>Other List</b></div>
      </div>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://wa.me/6281370435024?text=Bang,,%20saya%20minat%20beli%20Apikey%20Yuda API">
            <i class="fas fa-key"></i>
                    <span>Order Apikey</span>
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link collapsed" href="api/game">
            <i class="fa fa-gamepad"></i>
                    <span>MiniGames</span>
            </a>
      </li>
	    <li class="nav-item">
            <a class="nav-link collapsed" href="api/tutorial">
            <i class="fas fa-fw fa-info"></i>
                    <span>Tutorial</span>
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://wa.me/6281370435024">
            <i class="fab fa-fw fa-whatsapp"></i>
                    <span>WhatsApp</span>
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://github.com/yuda112">
            <i class="fab fa-fw fa-github"></i>
                    <span>Github</span>
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://instagram.com/yuda.dika.12">
            <i class="fab fa-fw fa-instagram"></i>
                    <span>Instagram</span>
            </a>
      </li>
      <hr class="sidebar-divider">
      <div class="version"><b>Made With ♥️ By Yuda</b></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="Cari Apa?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #d41616;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
	    <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">2</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Changelog
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <i class="fas fa-wrench"></i>
                  </div>
                  <div>
                    <div class="small text-gray-500">24 April, 2021</div>
                    Hari Lahirnya Website Ini
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                      <i class="fas fa-plus"></i>
                  </div>
                  <div>
                    <div class="small text-gray-500">18 April, 2021</div>
                    Add Fitur Baru!
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks fa-fw"></i>
                <span class="badge badge-success badge-counter">1</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Popular Features
                </h6>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Sosmed Menu
                      <div class="small float-right"><b>80%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Fun Menu
                      <div class="small float-right"><b>45%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="45"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Others Menu
                      <div class="small float-right"><b>65%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://i.ibb.co/wpWpVNd/avatar-contact.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Guest</span>
              </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Documentation</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Documentation</li>
            </ol>
          </div>
          <div class="row mb-3">
          <div class="col-xl-3 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<div class="row align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-uppercase mb-1">Total Features</div>
<div class="h5 mb-0 font-weight-bold text-gray-800">112</div>
<div class="mt-2 mb-0 text-muted text-xs">
<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 99.1%</span>
<span>Since last week</span>
</div>
</div>
<div class="col-auto">
<i class="fas fa-calendar fa-2x text-primary"></i>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-uppercase mb-1">Total Visitor</div>
<div class="h5 mb-0 font-weight-bold text-gray-800">
<div class="visitor" id="visitor">00</div>
</div>
<div class="mt-2 mb-0 text-muted text-xs">

</span>
<span>This web visitor</span>
</div>
</div>
<div class="col-auto">
<i class="fas fa-eye fa-2x text-primary"></i>
</div>
</div>
</div>
</div>
</div>
<!-- Info -->
   <div class="row">
<div class="col-lg-6">
<div class="card mb-4">
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
<h6 class="m-0 font-weight-bold text-primary">Info For You</h6>
</div>
<div class="card-body">
<div class="bg"></div>
<div class="text">
<div class="status">
<h6>Jika anda menemukan Bug/Erorr <i class="fa fa-bug"></i> langsung lapor ke <a href="https://wa.me/6285283427860">Saya</a> Oke!</h6>
<marquee>
<h6>Apikey? Chat Admin untuk dapatkan Apikey :)</h6>
</marquee>
</div>
</div>
</div>
</div>
</div>
</div>
<!--Row-->
  <form action="/api/cekapikey">
      <div class="col-lg-6">
       <div class="card mb-4">
        <div class="card-header py-3">
         <div class="card-body">
          <h6 class="animated">Check Apikey</h6>
           <input type="text" class="form-control" placeholder="Your_Key" name="apikey" required="">
            <button class="btn btn-danger btn-icon-split">
             <span class="icon text-white-50">
              <i class="fas fa-check"></i>
             </span>
             <span class="text">Check</span>
            </button>
         </div>
        </div>
       </div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <p>Bot WhatsApp : <a href="https://wa.me/6285283427860"
                  class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-fw fa-whatsapp"></i>&nbsp;Angga</a></p>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2021 - Developed By
              <b><a href="https://github.com/yuda112" target="_blank">Angga</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

   <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>  
</body>
<script>
  function getvisitor(){
              var xhr = new XMLHttpRequest();
              var url = 'https://api.countapi.xyz/hit/zahirr-web.herokuapp.com/visits';
              xhr.onloadend = function(){
             data = JSON.parse(this.responseText);
  document.getElementById("visitor").textContent = data.value
              };
              xhr.open("GET", url, true);
              xhr.send();
  }
  
</script>

</html>
